.button {
  display: inline-block;

  padding: 0;

  font: inherit;
  vertical-align: middle;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &--main {
    @include font-mixin(15px, 140%);

    width: 100%;
    padding: 15px 28px;

    color: $common-text;
    font-weight: 600;
    text-align: center;

    background-color: $btn-bacgkround;
    border-radius: 6px;
  }
}
