.button {
  display: inline-block;

  padding: 0;

  font: inherit;
  vertical-align: middle;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &--main {
    @include font-mixin(14px, 16px);

    padding: 14px 13px;

    color: $btn-color;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    border: 1px solid $btn-color;
    border-radius: 5px;
  }
}

.button__text-1 {
  @media #{$screen-mobile} {
    display: none;
  }
}

.button__text-2 {
  display: none;

  @media #{$screen-mobile} {
    display: inline;
  }
}
