.contacts {
  @include font-mixin(16px, 18px);

  display: flex;
  flex-wrap: wrap;

  max-width: 700px;

  font-family: $secondary-font;
}

.contacts__item {
  margin-right: 88px;

  &:last-child {
    margin-right: 0;
  }

  @media #{$screen-tablet} {
    margin-right: 33px;
  }

  @media #{$screen-mobile} {
    margin-right: 23px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  color: $header-contacts;

  span {
    @media #{$screen-tablet} {
      display: none;
    }
  }

  svg {
    margin-right: 18px;

    color: $contacts-link-svg;

    @media #{$screen-tablet} {
      width: 25px;
      height: 19px;
      margin-right: 0;
    }
  }
}


@media #{$screen-only-desktop} {
  .contacts__link:hover,
  .contacts__link:focus {
    color: $contacts-link-hover;

    svg {
      color: $contacts-link-svg-hover;
    }
  }

  .contacts__link:active {
    opacity: 0.7;
  }
}
