.features {
  padding-top: 112px;
  padding-bottom: 110px;

  @media #{$screen-tablet} {
    padding-top: 54px;
    padding-bottom: 55px;
  }

  @media #{$screen-mobile} {
    padding-top: 37px;
    padding-bottom: 60px;
  }
}

.features__wrapper {

}

.features__list {
  display: grid;
  grid-template-columns: 570px 570px;
  gap: 30px;
  justify-content: center;

  @media #{$screen-tablet} {
    grid-template-columns: 1fr 1fr;
  }

  @media #{$screen-mobile} {
    grid-template-columns: minmax(auto, 400px);
  }
}

.features__item {
  min-height: 299px;
  padding: 40px 42px 40px 43px;

  border: 1px solid $features-border;
  border-left: 3px solid $features-left-border;

  background-color: $white;

  @media #{$screen-only-desktop} {
    &:hover {
      background-color: $feature-hover-bg;

      h3,
      p {
        color: $feature-hover-text;
      }

      svg {
        fill: $feature-svg-fill-hover;
      }
    }
  }

  @media #{$screen-tablet} {
    min-height: 306px;
    padding: 24px 21px 34px 27px;
  }

  @media #{$screen-tablet} {
    min-height: 310px;
    padding: 25px 18px 38px 27px;
  }

  svg {
    margin-bottom: 16px;
    fill: $light-blue;

    @media #{$screen-tablet} {
      margin-bottom: 13px;
    }

    @media #{$screen-mobile} {

      margin-bottom: 16px;
    }
  }

  h3 {
    @include font-mixin(24px, 34px);

    margin: 0;
    margin-bottom: 15px;

    font-weight: 400;
    color: $features-title;

    @media #{$screen-tablet} {
      margin-bottom: 22px;
    }

    @media #{$screen-mobile} {
      @include font-mixin(20px, 28px);

      margin-bottom: 16px;
    }
  }

  p {
    @include font-mixin(16px, 22px);

    margin: 0;

    font-family: $secondary-font;
    color: $features-text;
  }
}
