.feedback {
  padding-top: 92px;
  padding-bottom: 111px;

  background-color: $feedback-bg;
  background-image: url("../img/plane-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: 25.2% 41.1%;

  font-family: $secondary-font;
  color: $feedback-text;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/plane-desktop@2x.png");
    background-size: 511px;
  }

  @media #{$screen-tablet} {
    padding-top: 83px;
    padding-bottom: 103px;
    background-image: none;
  }

  @media #{$screen-mobile} {
    padding-top: 33px;
    padding-bottom: 41px;
  }

  h2 {
    @include font-mixin(36px, 51px);

    margin: 0;
    margin-bottom: 8px;

    font-family: $default-font;
    font-weight: 400;

    @media #{$screen-tablet} {
      @include font-mixin(32px, 45px);
    }

    @media #{$screen-mobile} {
      @include font-mixin(28px, 39px);
    }
  }

  p {
    @include font-mixin(16px, 22px);

    margin: 0;
    margin-bottom: 52px;
  }
}

.feedback__container {
  width: 39.58%;
  margin-left: 50.8%;
  margin-right: 9.3%;

  @media #{$screen-tablet} {
    width: 590px;
    margin: 0 auto;
  }

  @media #{$screen-mobile} {
    width: auto;
  }
}

.feedback__form {
  input,
  textarea {
    width: 100%;
    padding: 15px 22px;

    background-color: rgba($feedback-input-bg, 0.1);

    border: none;

    &::placeholder {
      @include font-mixin(16px, 22px);

      color: $feedback-text;
    }
  }
}

.feedback__primary {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;

  @media #{$screen-tablet} {
    display: block;

    margin-bottom: 30px;
  }
}

.feedback__field {
  width: 47.37%;

  @media #{$screen-tablet} {
    width: 47.46%;
  }

  @media #{$screen-tablet} {
    width: auto;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.feedback__textarea {
  margin-bottom: 40px;

  @media #{$screen-tablet} {
    margin-bottom: 45px;
  }

  @media #{$screen-mobile} {
    margin-bottom: 30px;
  }

  textarea {
    height: 154px;

    @media #{$screen-tablet} {
      height: 160px;
    }

    @media #{$screen-mobile} {
      height: 104px;
    }
  }
}

.feedback__btn {
  width: 47.37%;
  padding: 15px 20px;
  font-family: $default-font;

  @media #{$screen-tablet} {
    width: 47.46%;
  }

  @media #{$screen-mobile} {
    width: 100%;
    margin-bottom: 30px;
  }
}

.feedback__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$screen-mobile} {
    display: block;
  }
}

.feedback__agreement {
  @include font-mixin(14px, 16px);

  display: flex;
  width: 47.37%;

  text-align: center;

  @media #{$screen-tablet} {
    width: 47.46%;
  }

  @media #{$screen-tablet} {
    width: auto;
  }
}

.feedback__check {
  position: relative;

  padding-left: 43px;

  text-align: left;

  @media #{$screen-tablet} {
    padding-left: 34px;
  }
}

.feedback__checkbox {
  position: absolute;
  top: 2px;
  left: 11px;

  width: 17px;
  height: 16px;

  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $white;

  .feedback__checkbox-input:not(:disabled) + & {
    cursor: pointer;
  }

  .feedback__checkbox-input:checked + & {
    background-image: url("../img/checkbox.svg");
  }

  .feedback__checkbox-input:checked:focus + &,
  .feedback__checkbox-input:focus + & {
    outline: 2px solid #4d90fe;
  }
}
