.footer-contacts {
  @media #{$screen-mobile} {
    display: none;

    &--nojs {
      display: block;
    }

    &--opened {
      display: block;
    }
  }

  address {
    font-style: normal;

    @media #{$screen-mobile} {
      max-width: 200px;
    }
  }
}

.footer-contacts__phone {
  color: rgba($footer-nav, 0.5);

  @media #{$screen-only-desktop} {
    &:hover,
    &:focus {
      color: rgba($footer-phone-hover, 1);
    }

    &:active {
      color: rgba($footer-nav, 1);
    }
  }
}
