.footer-contacts {
  @media #{$screen-mobile} {
    &--nojs {
      display: block;
    }

    &--closed {
      display: none;
    }

    &--opened {
      display: block;
    }
  }

  address {
    font-style: normal;

    @media #{$screen-mobile} {
      max-width: 200px;
    }
  }
}

.footer-contacts__phone {
  color: rgba($footer-nav, 0.5);

  @media #{$screen-only-desktop} {
    &:hover,
    &:focus {
      color: $footer-phone-hover;
    }
  }
}
