.nav {
  @include font-mixin(15px, 25px);

  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 77px;

  font-family: $secondary-font;

  @media #{$screen-tablet} {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: min-content min-content;
  }

  @media #{$screen-mobile} {
    display: none;

    &--nojs {
      display: block;
    }

    &--opened {
      display: block;
    }
  }
}

.nav__item {
  @media #{$screen-tablet} {
    &:nth-child(2n) {
      order: 1;
    }
  }
}

.nav__link {
  color: rgba($footer-nav, 0.5);

  @media #{$screen-only-desktop} {
    &:hover,
    &:focus {
      color: rgba($footer-nav-hover, 1);
    }

    &:active {
      color: rgba($footer-nav, 1);
    }
  }
}
