.scroll-down {
  display: none;

  @media #{$screen-only-desktop} {
    @include font-mixin(14px, 16px);

    display: inline-block;

    position: absolute;
    left: -1.8%;
    top: 123%;

    font-family: $secondary-font;
    color: rgba($white, 0.5);

    transform: rotate(-90deg);
    vertical-align: middle;

    &:hover,
    &:focus {
      color: rgba($white, 1);
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }
}
