.socials {
  display: inline-flex;
  flex-wrap: wrap;

  min-width: 112px;
}

.socials__item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  @media #{$screen-only-desktop} {
    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  svg {
    fill: $socials-icon;
  }
}
